.bg {
    /* The image used */
    background-image: url("../images/bg.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
    position: relative;
}
.introduction-container{
    height: 100%;
}
.hello-text{
    color: #78739c;
    font-size: 30px;
}